/* Write your CSS here */
.headinglatest-one {
  color: red;
  font-size: 18px;
}
..headinglatest {
  color: #ffffff;
  font-size: 18px;
}
.brown-color-data {
  background-color: #1e293b;
  width: 450px;
  margin: 25px;
}
