/* Write your CSS here */
.headinglatest {
  color: #ffffff;
  font-size: 18px;
}

.image-width {
  width: 200px;
}

.three-containers {
  background-color: #1e293b;
  display: flex;
}

.one-container {
  margin: 50px;
}
